body {
    margin: 0;
    padding: 0;
    background-color: #ccc;
}
.header {
    background-image: url("../images/banner2.jpeg");
    padding: 30px;
    text-align: left;
    height: 150px;
}
.header img {
    border-radius: 100%;
    width: 200px;
    height: 200px;
}
.footer {
    background-color: #999;
    padding: 25px;
    min-height: 60px;
}
.footer img {
    width: 100px;
    margin: 10px;
}
.footer table {
    width: 100%;
}
.content {
    min-height: 300px;
    padding: 60px;
}