.center-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)   
}

.form-group, .form-check{
    margin: 15px 0;
}

.form-group label{
   padding: 5px 0 ; 
}

ul {
    margin: 0;
    width: 100%;
    text-align: end;
}
 li {
    display: inline;
}
li a {
    display: inline-block;
}
img {
    width: 100px;
    margin: 10px;
}
